<div class="modal-style">
	<div class="modal-header clearfix">
		<h4 ng-if="accion == 'crear'" class="modal-title">Nuevo cliente</h4>
		<h4 ng-if="accion == 'editar'" class="modal-title">Editar cliente</h4>
		<h4 ng-if="accion == 'eliminar'" class="modal-title">Eliminar cliente</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()"></span>
	</div>
	<div class="modal-body">
		<div class="row form-group" ng-if="accion == 'eliminar'">
			<div ng-show="cliente.statusCredit == 2">
				<h4><font color="red">No se puede eliminar el cliente <strong>{{cliente.nombre}} {{cliente.apellido}}</strong> porque tiene créditos activos. Para poder eliminar este cliente correctamente debe de completar todos los créditos o eliminar los créditos activos</font></h4>
			</div>
			<div ng-show="cliente.statusCredit != 2">
				<h4><font color="red">¿Realmente desea eliminar a {{cliente.nombre}} {{cliente.apellido}}?</font></h4>
			</div>
			
		</div>
		<form class="form-horizontal" name="form" ng-if="accion == 'crear' || accion == 'editar'" action="javascript:;" novalidate>
			<input type="hidden" class="form-control"  ng-model="cliente.credito">
			<div class="row form-group">
				<div class="col-sm-12">
					<label>DPI</label>
					<input type="number" class="form-control" ng-model="cliente.dpi" required minlength="13" maxlength="13" ng-change="findUser(cliente.dpi)">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label>Nombre</label>
					<input type="text" class="form-control" ng-model="cliente.nombre" required>
				</div>
				<div class="col-sm-12">
					<label>Apellido</label>
					<input type="text" class="form-control" ng-model="cliente.apellido" required>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label>Dirección</label>
					<input type="text" class="form-control" ng-model="cliente.direccion" required>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-6">
					<label>Teléfono</label>
					<input type="text" class="form-control" ng-model="cliente.telefono" required>
				</div>
				<div class="col-sm-6">
					<label class="control-label">Género</label>
					<select class="form-control" ng-model="cliente.sexo" required>
						<option value="1">Masculino</option>
						<option value="2">Femenino</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-6">
					<label class="control-label">Estado civil</label>
					<select class="form-control" ng-model="cliente.estado_civil" required>
						<option value="1">Soltero (a)</option>
						<option value="2">Casado (a)</option>
					</select>
				</div>
			</div>
			<div class="row form-group" ng-if="accion == 'editar'">
				<div class="col-sm-6">
					<label>Cobrador:</label>
					<select class="form-control" ng-model="cliente.collector" ng-options="item.id as item.nombre for item in usuarios_cobrador"></select>
				</div>
			</div>
			<div class="row form-group" ng-if="accion == 'crear' || accion == 'editar'">
				<div class="col-sm-12 text-right">
					<button id="newClienteButton" class="btn btn-success" ng-if="accion == 'crear'" ng-click="saveData(cliente)" ng-disabled="form.$invalid">Registrar</button>
					<button id="editClienteButton" class="btn btn-success" ng-if="accion == 'editar'" ng-click="saveData(cliente)" ng-disabled="form.$invalid">Actualizar</button>
				</div>
			</div>
		</form>
		<div class="row form-group" ng-if="accion == 'eliminar'">
			<div class="col-sm-12 text-right">
				<button ng-if="cliente.statusCredit != 2" class="btn btn-info" ng-click="modalClose()"><strong>No</strong></button>
				<button ng-if="cliente.statusCredit != 2" class="btn btn-danger" ng-click="saveData(cliente)"><strong>Si</strong></button>
				<button ng-if="cliente.statusCredit == 2" class="btn btn-danger" ng-click="modalClose()">Aceptar</button>
			</div>
		</div>
	</div>
</div>