<div class="modal-style">
	<div class="modal-header clearfix">
		<h4 class="modal-title">Nuevo crédito</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()"></span>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="form" action="javascript:;" novalidate>
			<div class="row form-group">
				<div class="col-sm-12">
					<label><h4>Desea imprimir el RECONOCIMIENTO DE DEUDA?</h4></label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12 text-right">
					<button class="btn btn-info" ng-click="optionNo()">No</button>
					<button class="btn btn-danger" ng-click="optionYes()">Si</button>
				</div>
			</div>
		</form>
	</div>
</div>