<div class="modal-style">	
	<div class="modal-header clearfix">
		<h4 ng-if="accion == 'crear'" class="modal-title">Nuevo plan</h4>
		<h4 ng-if="accion == 'editar'" class="modal-title">Editar plan</h4>
		<h4 ng-if="accion == 'eliminar'" class="modal-title">Eliminar plan</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()"></span>
	</div>
	<div class="modal-body">

		<div class="row form-group" ng-if="accion == 'eliminar'">
			<h3>¿Realmente desea eliminar este plan?</h3>
		</div>

		<form class="form-horizontal" name="form" ng-if="accion == 'crear' || accion == 'editar'" action="javascript:;" novalidate>
			<div class="row form-group">
				<div class="col-sm-6">
					<label>Tipo de plan</label>
					<select class="form-control" ng-model="plan.tipo">
						<option value="" disabled selected="selected">Seleccione un tipo de plan</option>
						<option value="1">Diario</option>
						<option value="2">Semanal</option>
						<option value="3">Mensual</option>
					</select>
				</div>	
			</div>
			<div class="row form-group">
				<div class="col-sm-6">
					<label>Descripción</label>
					<input type="text" class="form-control" name="plan.descripcion" ng-model="plan.descripcion">
				</div>
				<div class="col-sm-6">
					<label ng-if="plan.tipo == undefind || plan.tipo == 1">Días</label>
					<label ng-if="plan.tipo == 2">Semanas</label>
					<label ng-if="plan.tipo == 3">Meses</label>
					<input type="number" class="form-control" min="1" ng-model="plan.dias">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-6">
					<label>Porcentaje</label>
					<input type="number" class="form-control" min="0" ng-model="plan.porcentaje">
				</div>		
				<div class="col-sm-6">
					<label>Sucursal</label>
					<select class="form-control" ng-model="plan.sucursales_id" ng-options="item.id as item.descripcion for item in sucursales" required></select>
				</div>
			</div>
			<br>
			<div class="row form-group" ng-if="plan.tipo == 1">
				<div class="col-sm-6">
					<div class="ui-checkbox">
						<label>
							<input type="checkbox" ng-model="plan.domingo">
							<span>Omitir día domingo</span>
						</label>
					</div>
				</div>
			</div>
			<div class="row form-group" ng-if="accion == 'crear' || accion == 'editar'">
				<div class="col-sm-12 text-right">
					<button class="btn btn-success" ng-if="accion == 'crear'" ng-click="saveData(plan)" ng-disabled="form.$invalid">Registrar</button>
					<button class="btn btn-success" ng-if="accion == 'editar'" ng-click="saveData(plan)" ng-disabled="form.$invalid">Actualizar</button>
				</div>
			</div>
		</form>
		
		<div class="row form-group" ng-if="accion == 'eliminar'">
			<div class="col-sm-12 text-right">
				<button class="btn btn-danger" ng-click="saveData(plan)">Confirmar</button>
			</div>
		</div>
	</div>
</div>