<div class="modal-style">
	<div class="modal-header clearfix">		
		<h4 class="modal-title">Habilitar ruta</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()"></span>
	</div>
	<div class="modal-body">
		<div class="row form-group">
			<h4>¿Realmente desea habilitar la ruta del cobrador {{ record.customer.nombre + " " + record.customer.apellido }}?</h4>
		</div>
		<form class="form-horizontal" name="form" action="javascript:;">	
			<div class="row form-group">
				<div class="col-sm-12 text-right">					
					<button class="btn btn-danger" ng-click="confirmeOpenRoute(record)">Confirmar</button>
				</div>
			</div>
		</form>
	</div>
</div>